@import './variables';
@import './font';

// GLOBAL -----------
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

*[class*='container'] {
  max-width: calc($container-max + $container-padding * 2);
  margin: 0 auto;
  padding: 0 $container-padding;
  @media screen and (max-width: 1200px) {
    max-width: 1024px;
  }
  @media screen and (max-width: 1023.98px) {
    max-width: 768px;
  }
}

body {
  color: $color-gray;
  font-size: 16px;
  background: $color-light;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-dark;
  font-weight: normal;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
